@model IEnumerable<AppScolaritePlus.Models.SessionsFormation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    
                <main id="main">




  <!-- Header -->
  <div class="container text-center py-5 py-md-6">
    <h1 class="display-3 mb-5">Nos Sessions</h1>
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xxl-8">
        <figure>
          <blockquote class="blockquote text-center">
            <p class="fst-italic">Ajouter une Session.</p>
          </blockquote>
          <a asp-action="Create" class="btn btn-warning my-2">Cree</a>
        </figure>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- Projects -->
  <div class="container pb-5">
    <div class="row gx-xl-5">
        @foreach (var item in Model)
            
            {
                

      <div class="col-md-6">
        <figure class="img-color position-relative mb-5">
          <img  src="~/LogosParcours/@item.Parcours?.Logo" alt="@item.Parcours?.Logo" class="img-fluid mb-3" width="800" height="533">
          <figcaption class="h4 fw-light text-light text-center">
            <a class="btn btn-secondary"  asp-action="Inscription"  class="btn btn-warning my-2">@item.Parcours?.Intitule <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-circle"><path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path><polyline points="22 4 12 14.01 9 11.01"></polyline></svg></a> 
          </figcaption>
          </div>
 }
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row">
             @foreach (var item in Model.Take(2))
    {
          <div class="col-lg-4" style="align-content:center;">
            
            <img class="rounded-circle" src="~/LogosParcours/@item.Parcours?.Logo" alt="@item.Parcours?.Logo" width="140" height="140">
            <h2>@item.Parcours?.Intitule</h2>
            <p>@item.Parcours.Resume</p>
                <p><a  asp-action="Details" asp-route-id="@item.Id" asp-controller="Parcours" role="button" class="btn btn-sm btn-outline-secondary">Details de la foramtion</a></p>
              </div>
    }
    </div>



  <hr class="featurette-divider">
  <!-- Call to action -->
  <div class="bg-primary text-dark" >
    <div class="container py-5 py-md-6" style=" background-color: slategrey;">
      <div class="row justify-content-center align-items-stretch gx-lg-6">
        <div class="col-lg border-end-lg border-muted">
            </div>
        <div class="col-lg">
          <small class="text-muted"> <a hhref="#" >contact </a></small>
          
        </div>
      </div>
    </div>
  </div>
</main>

   

   
